.header {
  background-color: #d7dce5;
  height: 50px;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  width: 100%;
}

.nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.nav_ul {
  display: flex;
  list-style-type: none;
  width: 95%;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.nav_ul li a,
.nav_ul li a:visited {
  text-decoration: none;
  transition: all 0.4s;
}

