.section_forms form {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.15);
  -moz-box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.15);
  box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.15);
  padding: 20px 10px;
  min-width: 40%;
}

.section_forms form input:hover {
  cursor: pointer;
}

.section_forms form fieldset {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
}

.section_forms form fieldset legend {
  margin: 10px auto;
}

.section_forms form fieldset input[type=radio],
.section_forms form fieldset input[type=checkbox] {
  margin-right: 5px;
}

.section_forms form input[type=submit] {
  width: 50%;
  margin: 0 auto;
}

.section_forms form input[type=submit]:hover {
  background-color: #13d34d;
}